<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--database connection infomation-->
    <add key="DatabaseServer" value="localhost" />
    <add key="Database" value="lahoo_wechat_crawl" />
    <add key="UserID" value="root" />
    <add key="Password" value="N9LDOUBlv7GG2vuJgpCEAQ==" />
    <add key="Port" value="3306" />
    <add key="Charset" value="utf8" />
    <!--JSON version-->
    <add key="JsonVersion" value="1.0" />
    <!--Service APIhttps://laliving.ca/api/-->
    <!--add key="ServiceAPI" value="https://laliving.ca/api/" /-->
    <add key="ServiceAPI" value="http://localhost:1234" />
  </appSettings>
</configuration>